<% content_for :head do %>
  <meta name="title" content="<%= Spree.t(:contact_us_title) %>">
<% end %>

<div class="col-md-2"></div>
  <div class="col-md-8">
    <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @contact } %>

    <h1><%= Spree.t(:contact_us_title) %></h1>
    <p> <%= Spree.t(:fill_in_fields) %> </p>
    <%= form_for @contact, :url => contacts_path, :html => { :novalidate => '' } do |f| %>
      <% if SpreeContactUs.require_name %>
        <div class="form-group">
          <%= f.label :name %>
          <span class="required">*</span><br/>
          <%= f.text_field :name, class: 'required form-control' %>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.label :email %>
        <span class="required">*</span><br/>
        <%= f.email_field :email, class: 'required form-control email' %>
      </div>
      <div class="form-group">
        <%= f.label :phone %>
        <%= f.text_field :phone, class: 'required form-control phone' %>
      </div>
      <div class="form-group">
        <%= f.label :company %>
        <%= f.text_field :company, class: 'required form-control company' %>
      </div>
      <% if SpreeContactUs.require_subject %>
        <div class="form-group">
          <%= f.label :subject %>
          <span class="required">*</span><br/>
          <%= f.text_field :subject, class: 'required form-control' %>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.label :message %>
        <span class="required">*</span><br/>
        <%= f.text_area :message, class: 'required form-control' %>
      </div>

      <%= f.submit Spree.t(:submit), :alt => Spree.t(:submit), :id => 'contact_us_contact_submit', :title => Spree.t(:submit), :class => 'btn btn-primary' %>
    <% end %>

    <%= render :partial => 'spree/contact_us/contacts/content_after_form' %>
  </div>
<div class="col-md-2"></div>
